
Conversație deschisă. Un mesaj necitit.

Treci la conținut
Se folosește Gmail cu cititoare de ecran
in:spam 
1 din 21
(fără subiect)
Spam
Tathav Tathav <tathav321@gmail.com>
Ataşamente
23:35 (acum 0 minute)
către eu

Acest mesaj pare periculos
Au fost folosite mesaje similare pentru a sustrage informațiile personale ale utilizatorilor. Nu da clic pe linkuri, nu descărca atașamente și nu răspunde oferind informații personale.

Pare sigur

 2 atașamente
  •  Scanat de Gmail
Descărcarea atașamentelor este dezactivată. E-mailul a fost identificat ca phishing. Dacă vrei să descarci atașamentele și ai încredere în acest mesaj, dă clic pe opțiunea „Nu este spam” din bannerul de mai sus.
*{
    padding: 0;
    margin: 0;
}
body{
    background: url("https://www.teahub.io/photos/full/23-239067_3d-wallpaper-for-office-wall.jpg") center no-repeat;
    background-size: cover;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.he{
    width: 96%;
    margin-left: 2%;
}
.menupc{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-direction:row;
    gap: 10vh;
    padding: 2vh;
}

.log{
    margin-right:auto
}
.menupc li a{
    font-size: 4vh;
    color: black;
    text-decoration: none;
    transition: 2s;

}
.menupc li a:hover{
    color:darkred;
    letter-spacing: 1vh;
    transition: 2s;
}

.menupc li a h3{
    font-size: 7vh;
    color: black;
    text-decoration: none;
    transition: 2s;
}
.menupc li a h3:hover{
    color:midnightblue;
    letter-spacing: 1vh;
    transition: 2s;
}
.menuli{
    margin-top: 2vh;
}
.menum li a{
    font-size: 5vh;
    color: black;
    text-decoration: none;
    transition: 2s;
}
.menum li a:hover{
    color:midnightblue;
    letter-spacing: 1vh;
    transition: 2s;
}
.nor{
    width: 6vh;
    height: 6vh;
}
.log2{
    margin-top: 1vh;
}
.menum{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 2vh;
}



#hidden {
    display: none;
background: black;
  }
  :checked + #hidden {
    display: block;
  }
#hidden ul{
list-style: none; 
display: flex;
justify-content: space-between;
            flex-wrap: wrap;
            gap: 3vh;
            padding: 1vh;
}

#hidden ul li a{
    color: blanchedalmond;
    font-size: 3vh;
    text-decoration: none;
    transition: 2s;

}
#hidden ul li a:hover{
    color:darkred;
    letter-spacing: 1vh;
    transition: 2s;
}
.categ{
margin-top: 5vh;
font-size: 4vh;
transition: 2s;
}
.categ:hover{
    color:cornflowerblue;
    letter-spacing: 0.5vh;
    transition: 2s;
}
.centre{
    width: 94%;
    margin-left: 3%;
    background-color: transparent;
    margin-top: 5vh;
    border-radius: 2vh;
}

.marimg{
    width:100%;
    height: 50vh;
    border-radius: 2vh;

}
.butto{
    font-size: 3vh;
  color: white;
  background:none;
  border: none;
  padding-top: 25vh;
  transition: 2s;
}
.butto:hover{
    color: tomato;
    letter-spacing: 1.5vh;
    transition: 2s;
}
.up {
    position: relative;
  }
  
  .point{
    position: absolute;
    text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 99%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  border-radius: 2vh;
  } 
  .up:hover .point {
    opacity: 0.7;
    transition: 1s;
  }

  .contain{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 3vh;
      column-gap: 3vh;
   
  }

.coloane {
  margin-top: 5vh;
  width: 70%;
  margin-left: 15%;
  background: whitesmoke;
  padding: 1vh;
}

.contact {
  width: 98%;
  margin-left: 1%;
  background: whitesmoke;
}

.contact .titlu {
  padding: 6vh;
  font-size: 4vh;
    transition: 2s;
    text-align: center;
}

.contact .titlu:hover {
    transition: 2s;
    color: cornflowerblue;
    letter-spacing: 0.5vh;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2vh;
  grid-row-gap: 2vh;
}

.contact-grid .prima {
  margin-bottom: 2vh;
  margin-left: 10%;
  width: 80%;
  height: 7vh;
  text-align: center;
  border: none;
  background: white;
  font-size: 3vh;
  transition: 0.5s;
  border-radius: 3vh;
}

.contact-grid .doua {
  margin-bottom: 2vh;
  margin-left: 10%;
  width: 80%;
  height: 12vh;
  text-align: center;
  border: none;
  background: white;
  font-size: 3vh;
  transition: 0.5s;
  border-radius: 3vh;
}

.contact-grid .prima:hover {
  transition: 0.5s;
  box-shadow: 0 12px 8px -8px rgb(0 0 0 / 20%);
  border-radius: 6vh;
}

.contact-grid .doua:hover  {
  transition: 0.5s;
  box-shadow: 0 12px 8px -8px rgb(0 0 0 / 20%);
  border-radius: 6vh;
}

.buton {
  margin-bottom: 2vh;
  margin-left: 10%;
  width: 80%;
  padding: 2vh 5vh;
  background: #4caf50;
  text-align: center;
  border: none;
  font-size: 3vh;
  transition: 0.5s;
  border-radius: 6vh;
}

.buton:hover {
  transition: 0.5s;
  box-shadow: 0 12px 8px -8px rgb(0 0 0 / 50%);
}

.grid {
  margin-top: 6vh;
  margin-left: 5vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 2vh;
  grid-row-gap: 2vh;
}

.grid .img {
  border-radius: 50%;
  width: 10vh;
}

.grid .text {
  font-size: 3vh;
}

.footer {
  padding: 4vh;
  background: #000000b5;
  text-align: center; 
  color: white;
  font-size: 3vh;
}


.a-text{
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 1025px) { /* Desktop */
 .menum{
    display: none;
}
:checked + #hidden {
    display: none;
  }
    }
        @media screen and (max-width: 767px) { /* Telefon */
.menupc{
    display: none;
}

.contain{
    grid-template-columns: 1fr;
}

.grid {
  grid-template-columns: 1fr 1fr;
}

.contact-grid {
  grid-template-columns: 1fr;
}
        }
        
        @media screen and (min-width: 768px) and (max-width: 1024px) { /* Tableta */
     
            .menupc{
                display: none;
            }
            .contain{
                grid-template-columns: 1fr;
            }

.grid {
  grid-template-columns: 1fr 1fr 1fr;
}

.contact-grid {
  grid-template-columns: 1fr;
}
        }
style.css
Se afișează style.css.
